body{
    padding: 0;
    margin: 0;
}

.heading{
    text-align: center;

}

.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
}